/* body */
body {
    background: #f2f2f2;
}
footer {
    margin-top: 40px;
}

/* navbar 
.navbar {
    background-color: #fff;
}
*/

.main1 {
    background: #fff;
    padding:20px;
}

.post_list {
    list-style:none;
}
.post_no {
    color: #1111cc;
    font-weight: bold;
}

.post_name {
    font-weight: bold;
    color: #228B22;
}

.post_id {
    color: #cc88cc;
}