/* body */
body {
    background: #f2f2f2;
}
footer {
    margin-top: 40px;
}

/* navbar 
.navbar {
    background-color: #fff;
}
*/

.b-navi li {
    display:inline-block;
}
.board-list {
    padding:5px;
    text-align:center;
    font-size:15px;
}


.main1 {
    background: #fff;
    padding:20px;
}

.post_list {
    margin:10px 0 10px 0;
    background-color:#eff3fa;
    padding:5px 0;
       
}

.post_list ul {
    list-style:none;
    padding-inline-start: 10px;
   }
.post_no {
    color: #1111cc;
    font-weight: bold;
}

.post_name {
    font-weight: bold;
    color: #228B22;
}

.post_id {
    color: #cc88cc;
}
.rank {
    vertical-align:middle;
}
.rank1 {
    background-color:#f0ad4e;
    line-height:30px;
    font-size:15px;
    text-align:center;
    line-height: 45px;
    border-radius: 5px;
    color: #fff;
    margin:10px 0;
    font-weight:bold;
}

.rank2 {
    background-color:#5bc0de;
    line-height:30px;
    font-size:15px;
    text-align:center;
    line-height: 45px;
    border-radius: 5px;
    color: #fff;
    margin:10px 0;
    font-weight:bold;
}

.post_area {
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
}

.count_badge {
    /*display: inline-block;*/
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #999;
    border-radius: 10px;
    float:right;
}