/* body */
body {
    background: #f2f2f2;
}
footer {
    margin-top: 40px;
}

/* navbar 
.navbar {
    background-color: #fff;
}
*/

.b-navi li {
    display:inline-block;
}
.board-list {
    padding:5px;
    text-align:center;
    font-size:15px;
}


.main1 {
    background: #fff;
    padding:20px;
}

.post_list {
    list-style:none;
}
.post_no {
    color: #1111cc;
    font-weight: bold;
}

.post_name {
    font-weight: bold;
    color: #228B22;
}

.post_id {
    color: #cc88cc;
}
.rank {
    vertical-align:middle;
}
.rank1 {
    background-color:#f0ad4e;
    line-height:30px;
    font-size:15px;
    text-align:center;
    line-height: 45px;
    border-radius: 5px;
    color: #fff;
    margin:10px 0;
    font-weight:bold;
}

.rank2 {
    background-color:#5bc0de;
    line-height:30px;
    font-size:15px;
    text-align:center;
    line-height: 45px;
    border-radius: 5px;
    color: #fff;
    margin:10px 0;
    font-weight:bold;
}
